@model PALUGADA.Datas.Entities.User


<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete User !</h2>
    </div>

    <form method="post" asp-action="DeleteBr">
        <input asp-for="IdUser" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Username">Username</label>
                <input type="text" class="form-control mb-3" asp-for="Username" disabled>
                <span asp-validation-for="Username" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Password">Password</label>
                <input type="text" class="form-control mb-3" asp-for="Password" disabled>
                <span asp-validation-for="Password" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NohpUser">Nomor Hp</label>
                <input type="text" class="form-control mb-3" asp-for="NohpUser" disabled>
                <span asp-validation-for="NohpUser" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TipeUser">Tipe User</label>
                <input type="text" class="form-control mb-3" asp-for="TipeUser" disabled>
                <span asp-validation-for="TipeUser" class=" alert-danger"></span>
            </div>
            
            <div class="form-group col-md-6">
                <label asp-for="EmailUser">Email User</label>
                <input type="text" class="form-control mb-3" asp-for="EmailUser" disabled>
                <span asp-validation-for="EmailUser" class=" alert-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Delete</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}